

.container-fluid {
padding:auto;
width:1350px;
height:200px;
background: linear-gradient(to right, white ,#F5F5F5);
}
form:hover{
background-color:pink;
}
header img{
margin-left:110px;
margin-top:40px;
height:104px;
}
header h1{
margin-left:660px;	
margin-top:-55px;
text-transform: uppercase;
color:#DDDDDD;
font-size:15px;
font-family: arial;
}
header form{
margin-left:1000px;
margin-top:-20px;
}
.icono{
width:69px;
height:60px;
top:-390px;
left:400px;
position: relative;
}

.bh{
margin-top:-180px;
margin-left:210px;
z-index:99;
position: relative;
text-transform: uppercase;
color:#D3D3D3;
font-family: arial;
font-size: 50px;
}
.grayline{
width:355px;
border:1px solid #847E79 ;
margin-left:212px;
margin-top:13px;
position: relative;
z-index:99;
}
.greenbar{
border:3px solid #3AC163;
width:80px;
height:40px;
margin-top:22px;
margin-left:200px;
border-radius:7px;
position: relative;
z-index: 99;
}
.greenbar p{
color:#3AC163;
margin-top:10px;
margin-left:13px;
font-size:14px;
font-family: arial;
position: relative;
z-index: 99;
}
.names{
color:#B2A5A1;	
position: relative;
margin-left:290px;
margin-top:-30px; 
z-index: 99;
font-family:arial;
font-size:12px;
font-weight: bold;
}
.listright li{
color:#C5C5C5;
position: relative;
z-index: 99;
list-style: none;
margin-left: 200px;
margin-top: 20px;
top:20px;
padding-bottom:0px;
font-family: arial;
font-weight:bold;
}
.listleft li{
color:#B5B0A7;
position: relative;
z-index:99;
list-style:none;
font-family:arial;
margin-left:340px;
margin-top:20px;
top:-90px;
}
.bond{
color:#AFA7A2;
font-family:arial;
font-size:14px;
position:relative;
z-index:99;
margin-left:200px;
margin-top:-74px;
}
.yellowbar{
background-color:#DFB636;
border-radius:8px;
width:200px;
height:60px;
position:relative;
z-index:99;
margin-top:20px;
margin-left:200px;
}
.yellowbar:hover{
background-color:pink;
}
.yellowbar p{
color:white;
text-transform:uppercase;
font-size:16px;
font-family:arial;
font-weight:bold;
margin-left:50px;
bottom:-20px;
position:relative;
z-index:99;
}
.yellowbar img{
width:30px;
height:30px;
position:relative;
z-index:99;
bottom:5px;
margin-left:10px;
}
.orangebar{
background-color:#BB7B29;
border-radius:8px;
width:200px;
height:60px;
position:relative;
z-index:99;
margin-top:20px;
margin-left:200px;
}
.orangebar:hover{
background-color: pink;
}
.orangebar p{
color:white;
text-transform:uppercase;
font-size:16px;
font-family:arial;
font-weight:bold;
margin-left:50px;
bottom:-20px;
position:relative;
z-index:99;
}
.orangebar img{
width:30px;
height:30px;
position:relative;
z-index:99;
bottom:5px;
margin-left:10px;
}
.photo{
background-color:#DFB636;
width:1350px;
position:relative;
top:-120px;
display:inline-block;
}
.photo img{
 width:190px;
 height:218px;
 margin-top: 50px;
 margin-bottom:50px;
 margin-right:-20px;
 margin-left:40px;
}

object{
margin-top:-730px;
position:relative;
float:left;

}

.text1{
color:#D8D8D8;
font-family: arial;
position: relative;
font-size:30px;
margin-top:270px;
margin-left:100px;
margin-bottom:20px;

}
.text2{
font-family: arial;
color:black;	
font-size:43px;
margin-left:100px;
margin-bottom:30px;
}
.text3{
font-family:arial;
color:#D3D2D6;
margin-left:100px;
}

.barranaranja{
background-color:#BB7B29;
border-radius:8px;
width:200px;
height:60px;
position:relative;
z-index:99;
margin-top:20px;
margin-left:100px;

}
.barranaranja:hover{
background-color: pink;
}
.barranaranja p{
color:white;
text-transform:uppercase;
font-size:16px;
font-family:arial;
font-weight:bold;
margin-left:50px;
bottom:-20px;
position:relative;
z-index:99;

}
.barranaranja img{
width:30px;
height:30px;
margin-left:12px;
margin-top:-4px;
}
.text4{
color:#CCA37E;
font-family:arial;
font-size: 16px;
margin-top:40px;
margin-left:100px;
}
.news{
font-size:30px;
font-family:arial;
color:#D0D0D0;
margin-top:360px;
margin-right:60px;
font-weight:bold;
}
.loren{
font-size:14px;
font-family:arial;
color:black;
margin-top:30px;
margin-bottom:20px;
}

.fecha{
color:#DFDEDE;
font-family:arial;
font-size:14px;
margin-top:-18px;
}
.contenido{
font-size:14px;
font-family:arial;
color:#DFDEDE;
margin-top:4px;
text-align:justify;
}
.rayagris2{
bottom:30px;
margin-top:40px;
opacity:3;
}
.more{
color:#E3C15F;
font-family:tahoma;
font-size:12px;
margin-top:200px;
}
.loren2{
font-size:14px;
font-family:arial;
color:black;
margin-top:50px;
margin-bottom:20px;
}

.fecha2{
color:#DFDEDE;
font-family:arial;
font-size:14px;
margin-top:-18px;
}
.contenido2{
font-size:14px;
font-family:arial;
color:#DFDEDE;
margin-top:6px;
margin-left:670px;
text-align:justify;
}
.rayagris3{
bottom:30px;
margin-top:40px;
margin-left:670px;
width:680px;
opacity:3;
}
.more{
color:#E3C15F;
font-family:tahoma;
font-size:15px;
margin-top:35px;
font-weight:bold;
margin-left:670px;
}
.last{
position:relative;
display:inline-block;
width:300px;
height:300px;
margin-top:100px;
margin-right:20px;
left:50px;
padding-right:auto;
}
.last:hover{
background-color:yellow;
}

footer{
	background-color:#F3F3F3;
	width:1350;
	height:300px;
	margin-top:900px;
}
span{
	font-weight:bold;
}
.discl{
	color:#C9C9C9;
	font-family:arial;
	font-size:24px;
	margin-left:85px;
    margin-top:-200px;
	padding-top:60px;
}
.parrafodis{
	color:#C9C9C9;
	font-family:arial;
	font-size:14px;
	margin-left:85px;
	margin-top:0px;
}
.created{
	color:#C9C9C9;
	font-family:arial;
	font-size:16px;
	margin-top:60px;
	margin-left:82px;
}
.lastp{
	list-style:none;
	font-family:arial;
	font-size:12px;
	color:#C9C9C9;
	margin-left:80px;
	margin-top:60px;
}
.foto p{
	position: relative;
	top:-50px;
}
.container2-fluid{
    background-color:#F3F3F3;
    height:200px;
}
